{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Trip Planner</h1>


    <ul>

    </ul>
  <!--<img src="https://www.codeproject.com/KB/web-image/Google_map/sampleMap.JPG"></img>-->

  <h3 class="subhead">Start planning your trip by selecting restaurants, hotels and activities below</h3>
  <!--Here are the day buttons-->
  <div class="container">
    <ul class="pagination">
              <!--<li class="disabled"><a href="#">«</a></li>-->
              {% for day in days %}
              {% if day === currentDay %}
              <li class="active"><a href="/{{day}}">{{day}} <span class="sr-only">(current)</span></a></li>
              {% else %}
              <li><a href="/{{ day }}">{{ day }}</a></li>
              {% endif %}
              <!--<li><a href="/3">3</a></li>
              <li><a href="/4">4</a></li>
              <li><a href="/5">5</a></li>-->
              {% endfor %}
              <li><a href="/newDay">+</a></li>
            </ul>
  </div>

    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwCZ2SngOxzWvdSAL0ICLRW5P3czSwBzI&callback=initMap">
    </script>

<div class='container'>
    <div class="row">
        <div class='lg-col-4'>
          <h3><i class="fa fa-check-circle-o"></i> Restaurants</h3>
          {% for restaurant in restaurants%}
          <li>{{restaurant.venue}}</li>
          {% endfor %}
          <p><a href='{{currentDay}}/restaurants/'>Add a restaurant</a></p>
        </div>
        <div class='lg-col-4'>
          <h3><i class="fa fa-check-circle-o"></i> Hotels</h3>
          <p><a href='{{currentDay}}/hotels/'>Add a hotel</a></p>

        </div>
        <div class='lg-col-4'>
          <h3><i class="fa fa-check-circle-o"></i> Activities</h3>
          <p><a href='{{currentDay}}/activities/'>Add an activity</a></p>
        </div>
    </div>
</div>
{% endblock %}
