{% extends "layout.html" %}

{% block content %}
<!--<h1>Welcome to Trip Planner</h1>-->


    <ul>

    </ul>
  <!--<img src="https://www.codeproject.com/KB/web-image/Google_map/sampleMap.JPG"></img>-->

  <!--<h3 class="subhead">Day of Trip</h3>-->
  <!--Here are the day buttons-->
  <div class="center">
     <h3> Day of Trip </h3>
    <ul class="pagination">
              <!--<li class="disabled"><a href="#">«</a></li>-->
              {% for day in days %}
              {% if day === 1 %}
              <li class="active btn-primary"><a href="/{{day}}">{{day}} <span class="sr-only">(current)</span></a></li>
              {% else %}
              <li><a href="/{{ day }}">{{ day }}</a></li>
              {% endif %}
              <!--<li><a href="/3">3</a></li>
              <li><a href="/4">4</a></li>
              <li><a href="/5">5</a></li>-->
              {% endfor %}
              <li><a href="/newDay">+</a></li>
            </ul>
  </div>

    <div id="map"></div>

    <script>
      function initMap() {
        var uluru = {lat: 40.705137, lng: -74.007624};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwCZ2SngOxzWvdSAL0ICLRW5P3czSwBzI&callback=initMap">
    </script>

<!--<div class='container'>
    <div class="row">
        <div class='lg-col-3 right'>
          <h3>Restaurants</h3>
          {% for restaurant in restaurants%}
          <li>{{restaurant.venue}}</li>
          {% endfor %}
          <p><a href='{{currentDay}}/restaurants/'>Add a restaurant</a></p>
        </div>
        <div class='lg-col-3 right'>
          <h3>Hotels</h3>
          <p><a href='{{currentDay}}/hotels/'>Add a hotel</a></p>
        </div>
        <div class='lg-col-3'>
          <h3>Activities</h3>
          <p><a href='{{currentDay}}/activities/'>Add an activity</a></p>
        </div>
    </div>
</div>-->


<div class="container clearfix">
<div class="list-group lg-col-4 float-left">
  <a href="#" class="list-group-item active">Restaurants</a>
          {% for restaurant in restaurants%}
          <a href="#" class="list-group-item">{{restaurant.venue}}</a>
          {% endfor %}
          <a href='{{currentDay}}/restaurants/' class="list-group-item">Add a restaurant</a>
</div>
<div class="list-group lg-col-4 float-left">
  <a href="#" class="list-group-item active">Hotels</a>
  <a href="#" class="list-group-item">Hotel One</a>
  <a href="#" class="list-group-item">Hotel Two</a>
</div>
<div class="list-group lg-col-4 float-right">
  <a href="#" class="list-group-item active">Activities</a>
  <a href="#" class="list-group-item">Activity One</a>
  <a href="#" class="list-group-item">Activity Two</a>
</div>
</div>



<!--<table class="table">
    <thead>
      <tr>
        <th>restaurants</th>
        <th>hotels</th>
        <th>activities</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>-->
{% endblock %}


